<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kamera Testi</title>
    <style>
        #videoFeed {
            width: 640px;  /* Burada istediğiniz boyutu ayarlayabilirsiniz */
            height: 480px; /* Burada istediğiniz boyutu ayarlayabilirsiniz */
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <button id="startCamera">Kamerayı Başlat</button>
    <button id="finishButton">Finish</button>
    <img id="videoFeed" src="" alt="Video Akışı">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        const socket = io.connect('http://127.0.0.1:5000');
        const videoFeed = document.getElementById('videoFeed');

        document.getElementById('startCamera').onclick = function() {
            socket.emit('start_camera');
        };

        document.getElementById('finishButton').onclick = function() {
            socket.emit('finish');
        };

        socket.on('camera_response', function(data) {
            videoFeed.src = 'data:image/jpeg;base64,' + data.data;
        });

        socket.on('finish_response', function(data) {
            alert(`Toplam tekrar sayısı: ${data.counter}`);
        });
    </script>
</body>
</html>
